In [52]:
import pandas as pd
import pycountry

In [53]:
df= pd.read_csv('olympics.csv')

In [54]:
df.head()

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

tracking the country and noc (National Olympic Comittee) pairing

In [55]:
noclist=[]
for index,row in df.iterrows():
    noclist.append((row['team'],row['noc']))

In [56]:
noclist[1][1] #this is an example

'CHN'

In [57]:
noclist

[('China', 'CHN'),
 ('China', 'CHN'),
 ('Denmark', 'DEN'),
 ('Denmark/Sweden', 'DEN'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Romania', 'ROU'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Netherlands', 'NED'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Estonia', 'EST'),
 ('Norway', 'NOR'),
 ('Finland', 'FIN'),
 ('Finland', 'FIN'),
 ('France', 'FRA'),
 ('Norway', 'NOR'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Netherlands', 'NED'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Taifun', 'NOR'),
 ('Norway', 'NOR'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Morocco', 'MAR'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Estonia', 'EST'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('France', 'FRA'),
 ('Egypt', 'EGY'),
 ('Iran', 'IRI'),
 ('Spain', 'ESP'),
 ('France', 'FRA'),
 ('France', 'FRA'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('Italy', 'ITA'),
 ('Spain', 'ESP'),
 ('Chad', 'CHA'),
 ('Azerbaijan', 'AZE'),
 ('Sudan', 'SUD'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Argentina', 'ARG'),
 ('Argentina', 'ARG'),
 ('Spain', 'ESP'),
 ('Cuba', 'CUB'),
 ('Cuba', 'CUB'),
 ('Cuba', 'CUB'),
 ('Belarus', 'BLR'),
 ('Belarus', 'BLR'),
 ('France', 'FRA'),
 ('France', 'FRA'),
 ('France', 'FRA'),
 ('Argentina', 'ARG'),
 ('Greece', 'GRE'),
 ('Cameroon', 'CMR'),
 ('Cameroon', 'CMR'),
 ('Turkey', 'TUR'),
 ('Chile', 'CHI'),
 ('Spain', 'ESP'),
 ('Greece', 'GRE'),
 ('Mexico', 'MEX'),
 ('Chile', 'CHI'),
 ('United States', 'USA'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Soviet Union', 'URS'),
 ('Soviet Union', 'URS'),
 ('Chile', 'CHI'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('France', 'FRA'),
 ('France', 'FRA'),
 ('Chile', 'CHI'),
 ('Greece', 'GRE'),
 ('Nicaragua', 'NCA'),
 ('Nicaragua', 'NCA'),
 ('Mexico', 'MEX'),
 ('Mexico', 'MEX'),
 ('Mexico', 'MEX'),
 ('Hungary', 'HUN'),
 ('Hungary', 'HUN'),
 ('Hungary', 'HUN'),
 ('Nigeria', 'NGR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Italy', 'ITA'),
 ('Chad', 'CHA'),
 ('Algeria', 'ALG'),
 ('Algeria', 'ALG'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Bahrain', 'BRN'),
 ('Pakistan', 'PAK'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Kuwait', 'KUW'),
 ('Pakistan', 'PAK'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Iraq', 'IRQ'),
 ('Pakistan', 'PAK'),
 ('Qatar', 'QAT'),
 ('Pakistan', 'PAK'),
 ('Pakistan', 'PAK'),
 ('Pakistan', 'PAK'),
 ('Egypt', 'EGY'),
 ('Malaysia', 'MAS'),
 ('Iran', 'IRI'),
 ('Pakistan', 'PAK'),
 ('Pakistan', 'PAK'),
 ('Pakistan', 'PAK'),
 ('Iran', 'IRI'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Italy', 'ITA'),
 ('Germany', 'GER'),
 ('Italy', 'ITA'),
 ('Netherlands', 'NED'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Italy', 'ITA'),
 ('Iraq', 'IRQ'),
 ('Thessalonki-1', 'GRE'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Ireland', 'IRL'),
 ('Ireland', 'IRL'),
 ('United States', 'USA'),
 ('Australia', 'AUS'),
 ('South Africa', 'RSA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Canada', 'CAN'),
 ('United States', 'USA'),
 ('Morocco', 'MAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Eritrea', 'ERI'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('United States', 'USA'),
 ('Tanzania', 'TAN'),
 ('Tanzania', 'TAN'),
 ('France', 'FRA'),
 ('Kuwait', 'KUW'),
 ('Jordan', 'JOR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Sudan', 'SUD'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Sudan', 'SUD'),
 ('Sudan', 'SUD'),
 ('Sudan', 'SUD'),
 ('Sudan', 'SUD'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Sudan', 'SUD'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Tunisia', 'TUN'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Libya', 'LBA'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Sudan', 'SUD'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Sudan', 'SUD'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('France', 'FRA'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Algeria', 'ALG'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Algeria', 'ALG'),
 ('Algeria', 'ALG'),
 ('Algeria', 'ALG'),
 ('Algeria', 'ALG'),
 ('Algeria', 'ALG'),
 ('Iran', 'IRI'),
 ('Iran', 'IRI'),
 ('Belgium', 'BEL'),
 ('Belgium', 'BEL'),
 ('Australia', 'AUS'),
 ('Australia', 'AUS'),
 ('Qatar', 'QAT'),
 ('Qatar', 'QAT'),
 ('Djibouti', 'DJI'),
 ('Djibouti', 'DJI'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Australia', 'AUS'),
 ('Australia', 'AUS'),
 ('Australia', 'AUS'),
 ('Palestine', 'PLE'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Sudan', 'SUD'),
 ('Iran', 'IRI'),
 ('Cameroon', 'CMR'),
 ('Comoros', 'COM'),
 ('Canada', 'CAN'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Chad', 'CHA'),
 ('Cameroon', 'CMR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Kazakhstan', 'KAZ'),
 ('Brunei', 'BRU'),
 ('Iraq', 'IRQ'),
 ('Kuwait', 'KUW'),
 ('Malaysia', 'MAS'),
 ('Malaysia', 'MAS'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Malaysia', 'MAS'),
 ('Brunei', 'BRU'),
 ('Brunei', 'BRU'),
 ('Sudan', 'SUD'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Saudi Arabia', 'KSA'),
 ('Syria', 'SYR'),
 ('Iraq', 'IRQ'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Iraq', 'IRQ'),
 ('Qatar', 'QAT'),
 ('Maldives', 'MDV'),
 ('Bahrain', 'BRN'),
 ('Saudi Arabia', 'KSA'),
 ('Iran', 'IRI'),
 ('Jordan', 'JOR'),
 ('Bahrain', 'BRN'),
 ('Ethiopia', 'ETH'),
 ('Malaysia', 'MAS'),
 ('Pakistan', 'PAK'),
 ('Pakistan', 'PAK'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Pakistan', 'PAK'),
 ('Iraq', 'IRQ'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Saudi Arabia', 'KSA'),
 ('United Arab Emirates', 'UAE'),
 ('North Yemen', 'YAR'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Pakistan', 'PAK'),
 ('Indonesia', 'INA'),
 ('Iraq', 'IRQ'),
 ('Iraq', 'IRQ'),
 ('Nigeria', 'NGR'),
 ('Nigeria', 'NGR'),
 ('Nigeria', 'NGR'),
 ('Nigeria', 'NGR'),
 ('Canada', 'CAN'),
 ('Egypt', 'EGY'),
 ('Soviet Union', 'URS'),
 ('Philippines', 'PHI'),
 ('Philippines', 'PHI'),
 ('Philippines', 'PHI'),
 ('Philippines', 'PHI'),
 ('Philippines', 'PHI'),
 ('Iraq', 'IRQ'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Qatar', 'QAT'),
 ('Egypt', 'EGY'),
 ('United States', 'USA'),
 ('Iraq', 'IRQ'),
 ('Egypt', 'EGY'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('Iraq', 'IRQ'),
 ('Kuwait', 'KUW'),
 ('Egypt', 'EGY'),
 ('Malaysia', 'MAS'),
 ('Malaysia', 'MAS'),
 ('Malaysia', 'MAS'),
 ('Malaysia', 'MAS'),
 ('Singapore', 'SGP'),
 ('Singapore', 'SGP'),
 ('Sudan', 'SUD'),
 ('Sudan', 'SUD'),
 ('Nigeria', 'NGR'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Uzbekistan', 'UZB'),
 ('Uzbekistan', 'UZB'),
 ('Uzbekistan', 'UZB'),
 ('Uzbekistan', 'UZB'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Azerbaijan', 'AZE'),
 ('Kuwait', 'KUW'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Emirates', 'UAE'),
 ('United Arab Emirates', 'UAE'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Kuwait', 'KUW'),
 ('Iraq', 'IRQ'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United States', 'USA'),
 ('Uzbekistan', 'UZB'),
 ('Kyrgyzstan', 'KGZ'),
 ('Kyrgyzstan', 'KGZ'),
 ('Uzbekistan', 'UZB'),
 ('Tajikistan', 'TJK'),
 ('Russia', 'RUS'),
 ('Tajikistan', 'TJK'),
 ('Tajikistan', 'TJK'),
 ('Tajikistan', 'TJK'),
 ('Libya', 'LBA'),
 ('Unified Team', 'EUN'),
 ('Uzbekistan', 'UZB'),
 ('Soviet Union', 'URS'),
 ('Uzbekistan', 'UZB'),
 ('Kyrgyzstan', 'KGZ'),
 ('Japan', 'JPN'),
 ('Japan-1', 'JPN'),
 ('Japan-1', 'JPN'),
 ('Japan-1', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Congo (Brazzaville)', 'CGO'),
 ('Ethiopia', 'ETH'),
 ('Ethiopia', 'ETH'),
 ('Ethiopia', 'ETH'),
 ('Ethiopia', 'ETH'),
 ('Algeria', 'ALG'),
 ('Egypt', 'EGY'),
 ('Iran', 'IRI'),
 ('Iran', 'IRI'),
 ('Cameroon', 'CMR'),
 ('Switzerland', 'SUI'),
 ('Switzerland', 'SUI'),
 ('Brazil', 'BRA'),
 ('Brazil', 'BRA'),
 ('Spain', 'ESP'),
 ('Brazil', 'BRA'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Canada', 'CAN'),
 ('West Germany', 'FRG'),
 ('West Germany', 'FRG'),
 ('East Germany', 'GDR'),
 ('East Germany', 'GDR'),
 ('East Germany', 'GDR'),
 ('East Germany', 'GDR'),
 ('East Germany', 'GDR'),
 ('East Germany', 'GDR'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Canada', 'CAN'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Monaco', 'MON'),
 ('Monaco', 'MON'),
 ('Monaco', 'MON'),
 ('Monaco', 'MON'),
 ('Monaco', 'MON'),
 ('Monaco', 'MON'),
 ('Fornebo', 'NOR'),
 ('Cuba', 'CUB'),
 ('Spain', 'ESP'),
 ('Germany', 'GER'),
 ('Germany', 'GER'),
 ('Israel', 'ISR'),
 ('Israel', 'ISR'),
 ('Israel', 'ISR'),
 ('Israel', 'ISR'),
 ('Israel', 'ISR'),
 ('Vesper Boat Club', 'USA'),
 ('Vesper Boat Club', 'USA'),
 ('Mexico', 'MEX'),
 ('Uruguay', 'URU'),
 ('Argentina', 'ARG'),
 ('Argentina', 'ARG'),
 ('Argentina', 'ARG'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Cameroon', 'CMR'),
 ('Ethiopia', 'ETH'),
 ('Ethiopia', 'ETH'),
 ('Argentina', 'ARG'),
 ('Argentina', 'ARG'),
 ('Argentina', 'ARG'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Finland', 'FIN'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Morocco', 'MAR'),
 ('United States Virgin Islands', 'ISV'),
 ('United States Virgin Islands', 'ISV'),
 ('United States Virgin Islands', 'ISV'),
 ('United States Virgin Islands', 'ISV'),
 ('United States Virgin Islands', 'ISV'),
 ('United States', 'USA'),
 ('South Africa', 'RSA'),
 ('South Africa', 'RSA'),
 ('Algeria', 'ALG'),
 ('Switzerland', 'SUI'),
 ('Italy', 'ITA'),
 ('Turkey', 'TUR'),
 ('Turkey', 'TUR'),
 ('Turkey', 'TUR'),
 ('Turkey', 'TUR'),
 ('Sri Lanka', 'SRI'),
 ('Sri Lanka', 'SRI'),
 ('Sri Lanka', 'SRI'),
 ('Armenia', 'ARM'),
 ("Cote d'Ivoire", 'CIV'),
 ("Cote d'Ivoire", 'CIV'),
 ("Cote d'Ivoire", 'CIV'),
 ("Cote d'Ivoire", 'CIV'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('France', 'FRA'),
 ('East Germany', 'GDR'),
 ('Tunisia', 'TUN'),
 ('Iraq', 'IRQ'),
 ('Nigeria', 'NGR'),
 ('Nigeria', 'NGR'),
 ('Kazakhstan', 'KAZ'),
 ('Japan', 'JPN'),
 ('Japan', 'JPN'),
 ('Kenya', 'KEN'),
 ('Bulgaria', 'BUL'),
 ('Bulgaria', 'BUL'),
 ('France', 'FRA'),
 ('France', 'FRA'),
 ('Nigeria', 'NGR'),
 ('Nigeria', 'NGR'),
 ('Benin', 'BEN'),
 ('Benin', 'BEN'),
 ('France-1', 'FRA'),
 ('Russia', 'RUS'),
 ('Azerbaijan', 'AZE'),
 ('Brazil', 'BRA'),
 ('Ukraine', 'UKR'),
 ('Ukraine', 'UKR'),
 ('Ukraine', 'UKR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('United States', 'USA'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Russia', 'RUS'),
 ('Netherlands', 'NED'),
 ('Cameroon', 'CMR'),
 ('Ghana', 'GHA'),
 ('Nigeria', 'NGR'),
 ('Soviet Union', 'URS'),
 ('Soviet Union', 'URS'),
 ('Soviet Union', 'URS'),
 ('Soviet Union', 'URS'),
 ('Somalia', 'SOM'),
 ('Somalia', 'SOM'),
 ('Latvia', 'LAT'),
 ('Latvia', 'LAT'),
 ('Latvia', 'LAT'),
 ('Latvia', 'LAT'),
 ('Maldives', 'MDV'),
 ('Australia', 'AUS'),
 ('Australia', 'AUS'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Spain', 'ESP'),
 ('Cameroon', 'CMR'),
 ('Cameroon', 'CMR'),
 ('Egypt', 'EGY'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Syria', 'SYR'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('United Arab Republic', 'UAR'),
 ('Egypt', 'EGY'),
 ('Iraq', 'IRQ'),
 ('Morocco', 'MAR'),
 ('Niger', 'NIG'),
 ('Qatar', 'QAT'),
 ('Qatar', 'QAT'),
 ('Iraq', 'IRQ'),
 ('Libya', 'LBA'),
 ('Algeria', 'ALG'),
 ('Iraq', 'IRQ'),
 ('Algeria', 'ALG'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Egypt', 'EGY'),
 ('Lebanon', 'LIB'),
 ('Lebanon', 'LIB'),
 ('Mali', 'MLI'),
 ('Egypt', 'EGY'),
 ('Afghanistan', 'AFG'),
 ('Nigeria', 'NGR'),
 ('United States', 'USA'),
 ('Germany', 'GER'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Romania', 'ROU'),
 ('Hungary', 'HUN'),
 ('Hungary', 'HUN'),
 ('Hungary', 'HUN'),
 ('Germany', 'GER'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Chile', 'CHI'),
 ('Switzerland', 'SUI'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('India', 'IND'),
 ('Poland', 'POL'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('France', 'FRA'),
 ('South Africa', 'RSA'),
 ('Costa Rica', 'CRC'),
 ('Costa Rica', 'CRC'),
 ('Panama', 'PAN'),
 ('Panama', 'PAN'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Great Britain', 'GBR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('Norway', 'NOR'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('United States', 'USA'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),
 ('Sweden', 'SWE'),

use pycountry function to get name, numeric code of countries

In [58]:
#testing the pycountry function
test = pycountry.countries.get(alpha_2='DE')
print(test)
test.name

Country(alpha_2='DE', alpha_3='DEU', flag='ðŸ‡©ðŸ‡ª', name='Germany', numeric='276', official_name='Federal Republic of Germany')

'Germany'

In [59]:
def search_data_from_noc(b):
    result=[]   # List of known country matches
    unk_result=[] # List of unknown/missing codes
    for a in b:
        i= pycountry.countries.get(alpha_3=a[1])
        if i != None:
            result.append(i)
        else:
            unk_result.append(a)
    return result , unk_result

In [60]:
#search from the noclist
#function returns two results so u need two variables
found, unknown =search_data_from_noc(noclist)

In [61]:
#remove duplicates from the unknown list
unique_unk= list(dict.fromkeys(unknown))

In [62]:
#show the unknown list
unique_unk

[('Denmark', 'DEN'),
 ('Denmark/Sweden', 'DEN'),
 ('Netherlands', 'NED'),
 ('Iran', 'IRI'),
 ('Bulgaria', 'BUL'),
 ('Chad', 'CHA'),
 ('Sudan', 'SUD'),
 ('Greece', 'GRE'),
 ('Chile', 'CHI'),
 ('Soviet Union', 'URS'),
 ('Nicaragua', 'NCA'),
 ('Nigeria', 'NGR'),
 ('Algeria', 'ALG'),
 ('Kuwait', 'KUW'),
 ('United Arab Republic', 'UAR'),
 ('Lebanon', 'LIB'),
 ('Malaysia', 'MAS'),
 ('Germany', 'GER'),
 ('Thessalonki-1', 'GRE'),
 ('South Africa', 'RSA'),
 ('Tanzania', 'TAN'),
 ('Libya', 'LBA'),
 ('Palestine', 'PLE'),
 ('Brunei', 'BRU'),
 ('Saudi Arabia', 'KSA'),
 ('United Arab Emirates', 'UAE'),
 ('North Yemen', 'YAR'),
 ('Indonesia', 'INA'),
 ('Philippines', 'PHI'),
 ('Unified Team', 'EUN'),
 ('Congo (Brazzaville)', 'CGO'),
 ('Switzerland', 'SUI'),
 ('West Germany', 'FRG'),
 ('East Germany', 'GDR'),
 ('Monaco', 'MON'),
 ('Uruguay', 'URU'),
 ('United States Virgin Islands', 'ISV'),
 ('Sri Lanka', 'SRI'),
 ('Latvia', 'LAT'),
 ('Niger', 'NIG'),
 ('Costa Rica', 'CRC'),
 ('Slovenia', 'SLO'),
 ('Croatia', 'CRO'),
 ('Portugal', 'POR'),
 ('Paraguay', 'PAR'),
 ('Angola', 'ANG'),
 ('Bangladesh', 'BAN'),
 ('El Salvador', 'ESA'),
 ('Puerto Rico', 'PUR'),
 ('Switzerland-2', 'SUI'),
 ('Switzerland-1', 'SUI'),
 ('Honduras', 'HON'),
 ('Mauritius', 'MRI'),
 ('Seychelles', 'SEY'),
 ('Czechoslovakia', 'TCH'),
 ('Mauritania', 'MTN'),
 ('Saint Kitts and Nevis', 'SKN'),
 ('Saint Vincent and the Grenadines', 'VIN'),
 ('Nigeria-2', 'NGR'),
 ('Nepal', 'NEP'),
 ('Mongolia', 'MGL'),
 ('Germany-2', 'GER'),
 ('Togo', 'TOG'),
 ('Netherlands Antilles', 'AHO'),
 ('American Samoa', 'ASA'),
 ('Samoa', 'SAM'),
 ('Haiti', 'HAI'),
 ('Large boat, Central Naval Prep School "Poros"-1', 'GRE'),
 ('Guinea', 'GUI'),
 ('Belize', 'BIZ'),
 ('Indonesia-1', 'INA'),
 ('Germany-1', 'GER'),
 ('South Yemen', 'YMD'),
 ('Mutafo', 'GER'),
 ('Bermuda', 'BER'),
 ('Australasia', 'ANZ'),
 ('Serbia and Montenegro', 'SCG'),
 ('Greece-3', 'GRE'),
 ('Individual Olympic Athletes', 'IOA'),
 ('Oman', 'OMA'),
 ('Fiji', 'FIJ'),
 ('Vanuatu', 'VAN'),
 ('Yugoslavia', 'YUG'),
 ('Bahamas', 'BAH'),
 ('Guatemala', 'GUA'),
 ('Burevestnik', 'URS'),
 ('Druzhba', 'URS'),
 ('Soviet Union-2', 'URS'),
 ('Soviet Union-1', 'URS'),
 ('Olen', 'URS'),
 ('British Virgin Islands', 'IVB'),
 ('Madagascar', 'MAD'),
 ('Malaya', 'MAL'),
 ('Cayman Islands', 'CAY'),
 ('Nykjbings paa Falster', 'DEN'),
 ('Barbados', 'BAR'),
 ('Guinea Bissau', 'GBS'),
 ('Lemzos Thorichton "Spetsai"-4', 'GRE'),
 ('Puerto Rico-2', 'PUR'),
 ('East Germany-1', 'GDR'),
 ('Favorite Hammonia-3', 'GER'),
 ('Botswana', 'BOT'),
 ('Refugee Olympic Athletes', 'ROT'),
 ('Frankfurt Club', 'GER'),
 ('GyoshuII', 'CAM'),
 ('Solomon Islands', 'SOL'),
 ('Tip', 'DEN'),
 ('Yugoslavia-1', 'YUG'),
 ('Crete', 'CRT'),
 ('Germany-3', 'GER'),
 ('Soviet Union-3', 'URS'),
 ('Equatorial Guinea', 'GEQ'),
 ('Saar', 'SAA'),
 ('Antigua and Barbuda', 'ANT'),
 ('Czechoslovakia-3', 'TCH'),
 ('Denmark-2', 'DEN'),
 ('Latvia-2', 'LAT'),
 ('Ludwigshafener Ruderverein', 'GER'),
 ('Latvia-1', 'LAT'),
 ('Greece-1', 'GRE'),
 ('Greece-2', 'GRE'),
 ('West Germany-2', 'FRG'),
 ('Zimbabwe', 'ZIM'),
 ('Grenada', 'GRN'),
 ('Bulgaria-1', 'BUL'),
 ('Nautikos Omilos-3', 'GRE'),
 ('Myanmar', 'MYA'),
 ('Hirondelle', 'MON'),
 ('Malawi', 'MAW'),
 ('Bronia', 'GER'),
 ('Zambia', 'ZAM'),
 ('Denmark-1', 'DEN'),
 ('West Germany-1', 'FRG'),
 ('Rhodesia', 'RHO'),
 ('East Germany-2', 'GDR'),
 ('Snap', 'DEN'),
 ('Chinese Taipei-1', 'TPE'),
 ('Bohemia', 'BOH'),
 ('Life boat naval ship "Spetsai"-1', 'GRE'),
 ('Tonga', 'TGA'),
 ('Nigeria-1', 'NGR'),
 ('Lemzos Thorichton "Psara"-3', 'GRE'),
 ('Berliner Ruderverein von 1876-2', 'GER'),
 ('Czechoslovakia-1', 'TCH'),
 ('Czechoslovakia-2', 'TCH'),
 ('Primorka', 'YUG'),
 ('Gambia', 'GAM'),
 ('Grifo III', 'POR'),
 ('Grifo IV', 'POR'),
 ('Damoiselle IV', 'MON'),
 ('Konstanz', 'YUG'),
 ('Dansk Idrts Forbund', 'DEN'),
 ('Unified Team-2', 'EUN'),
 ('Mauritius-2', 'MRI'),
 ('Symphony', 'POR'),
 ('Sjhxa', 'POR'),
 ('Faneca', 'POR'),
 ('Ciocca III', 'POR'),
 ('Dinah V', 'GER'),
 ('Shoveller', 'RSA'),
 ('Circus', 'WIF'),
 ('Anitra', 'DEN'),
 ('Snude', 'DEN'),
 ('White Lady', 'DEN'),
 ('Web II', 'DEN'),
 ('Web III', 'DEN'),
 ('West Indies Federation', 'WIF'),
 ('Monaco-1', 'MON'),
 ('Boreas-2', 'NED'),
 ('Peri', 'RHO'),
 ('Burkina Faso', 'BUR'),
 ('Nortazo', 'URU'),
 ('Tom Kyle', 'GER'),
 ('Tilly', 'GER'),
 ('North Borneo', 'NBO'),
 ('Chok', 'DEN'),
 ('Germania II', 'GER'),
 ('Wannsee', 'GER'),
 ('Polyteknisk Roklub-1', 'DEN'),
 ('Aruba', 'ARU'),
 ('South Africa-2', 'RSA'),
 ('Chinese Taipei', 'TPE'),
 ('Camelia', 'POR'),
 ('Aschenbrodel', 'GER'),
 ('Puerto Rico-1', 'PUR'),
 ('Netherlands-2', 'NED'),
 ('Nikh', 'GRE'),
 ('Unified Team-1', 'EUN'),
 ('Athens-2', 'GRE'),
 ('Bulgaria-2', 'BUL'),
 ('Calcinhas', 'POR'),
 ('Minerva Amsterdam', 'NED'),
 ('Panhellenios Gymnastikos Syllogos-1', 'GRE'),
 ('Netherlands-1', 'NED'),
 ('Ali-Baba II', 'SUI'),
 ('Ali-Baba IV', 'SUI'),
 ('Ali-Baba VI', 'SUI'),
 ('Ali-Baba IX', 'SUI'),
 ('Indonesia-2', 'INA'),
 ('United States Virgin Islands-2', 'ISV'),
 ('United States Virgin Islands-1', 'ISV'),
 ('Amstel Amsterdam', 'NED'),
 ('Peri II', 'ZIM'),
 ('Fantasio III', 'SUI'),
 ('Pousse-Moi Pas VII', 'SUI'),
 ('Monaco-2', 'MON'),
 ('Baccara', 'SUI'),
 ('Vietnam', 'VIE'),
 ('Elvis Va', 'GER'),
 ('Argus', 'POR'),
 ('Oranje', 'NED'),
 ('Willem-Six', 'NED'),
 ('DeRuyter', 'NED'),
 ('Malaysia-1', 'MAS'),
 ('Cambodia', 'CAM'),
 ('Ylliam VIII', 'SUI'),
 ('Berliner Ruderclub Sport-Borussia-1', 'GER'),
 ('Chinese Taipei-2', 'TPE'),
 ('Bhutan', 'BHU'),
 ('Malaysia-2', 'MAS'),
 ('Kingfisher', 'MYA'),
 ('Yangon', 'MYA'),
 ('Gustel V', 'GER'),
 ('Jill', 'DEN'),
 ('Kiel', 'DEN'),
 ('Tim-Tam III', 'SUI'),
 ('Uragan', 'URS'),
 ('Kon-Tiki', 'URS'),
 ('Mauritius-1', 'MRI'),
 ('Morena', 'DEN'),
 ('Gem', 'BAH'),
 ('Oleander XII', 'BER'),
 ('Ylliam VII', 'SUI'),
 ('Ballerina IV', 'SUI'),
 ('Partenope', 'INA'),
 ('Bermudes', 'BER'),
 ('Espadarte', 'POR'),
 ('Canopus', 'POR'),
 ('Vicking', 'POR'),
 ('Daisy', 'NED'),
 ('Lerina', 'SUI'),
 ('Bem II', 'NED'),
 ('St. Margrite', 'NED'),
 ('Hollandia', 'NED'),
 ('Bonzo', 'DEN'),
 ('South St Louis Turnverein, St Louis', 'GER'),
 ('Pan-Hellenic Athletic Club', 'GRE'),
 ('Phalainis ton Thorichtou "Hydra"-2', 'GRE'),
 ('Bermudian', 'BER'),
 ('Oxalis', 'POR'),
 ('Joy', 'NED'),
 ('Thalatta', 'NED'),
 ('Trintel II', 'NED'),
 ('Berliner Ruderclub', 'GER'),
 ('Guanahani', 'BAH'),
 ('Unknown', 'UNK'),
 ('Nirwana', 'GER'),
 ('Omilos Ereton Peiraios-2', 'GRE'),
 ('Nirefs', 'GRE'),
 ('Proteus II', 'GRE'),
 ('Impala', 'RSA'),
 ('Pam', 'BER'),
 ('Oleander II', 'BER'),
 ('Roklubb Kbnhavn-2', 'DEN'),
 ('Cha-Cha III', 'YUG'),
 ('Gem III', 'BAH'),
 ('Gem IV', 'BAH'),
 ('Gem VII', 'BAH'),
 ('Ludwigshafener Ruder Verein-1', 'GER'),
 ('Ylliam II', 'SUI'),
 ('East Germany-3', 'GDR'),
 ('Paka V', 'GER'),
 ('Sydney Rowing Club', 'ANZ'),
 ('Espardate', 'POR'),
 ('Skum', 'DEN'),
 ('Miss Denmark 1964', 'DEN'),
 ('Kemphaan', 'NED'),
 ('Newfoundland', 'NFL'),
 ('Bohemia-1', 'BOH'),
 ('Bajazzo', 'URU'),
 ('Tantalus', 'GER'),
 ('Peiraikos Syndesmos-2', 'GRE'),
 ('Kosovo', 'KOS'),
 ('Germania Ruder Club, Hamburg', 'GER'),
 ('Korshun', 'URS'),
 ('Patricia', 'PHI'),
 ('Springbok', 'RSA'),
 ('Viktoriya', 'URS'),
 ('Germania Ruder Club, Hamburg-2', 'GER'),
 ('Omilos Ereton Smyrnis', 'GRE'),
 ('Alcaid', 'POR'),
 ('Alain IV', 'SUI'),
 ('Unified Team-3', 'EUN'),
 ('Deutscher Schwimm Verband Berlin', 'GER'),
 ('Denmark-3', 'DEN'),
 ('Germany/United States', 'GER'),
 ('Yeoman V', 'RSA'),
 ('Don Schufro', 'DEN'),
 ('Union des Socits Franais de Sports Athletiques', 'HAI'),
 ('Turnverein Vorwrts, Chicago', 'GER'),
 ('Nurdug II', 'DEN'),
 ('Yeoman', 'BAH'),
 ('Boer Team', 'RSA'),
 ('Beatrijs III-1', 'NED'),
 ('West Germany-3', 'FRG'),
 ('Lesotho', 'LES'),
 ('Mascotte', 'NED'),
 ('Pan', 'GER'),
 ('Bohemia-3', 'BOH'),
 ('Clearwater', 'DEN'),
 ('Barco Deloro', 'NED'),
 ('Yugoslavia-2', 'YUG'),
 ('Kalayaan', 'PHI'),
 ('Bohemia-2', 'BOH'),
 ('Macky VI', 'GER'),
 ('Nrnberg', 'NED'),
 ('Nephos I', 'GRE'),
 ('Tengiri', 'INA'),
 ('Ethnikos Gymnastikos Syllogos', 'GRE'),
 ('John B', 'BAH'),
 ('Bim', 'BAH'),
 ('Bonaparte', 'GER'),
 ('Subbnboana', 'GER'),
 ('Phalainis ton Thorichtou "Psara"-3', 'GRE'),
 ('Slovenia-1', 'SLO'),
 ('Rostock', 'GER'),
 ('St. Louis Southwest Turnverein #2-3', 'GER'),
 ('Olympion', 'GRE'),
 ('Heidelberg', 'URU'),
 ('Omas Helliniki P. S.', 'GRE'),
 ('Combine', 'BAH'),
 ('Holland', 'NED'),
 ('Starita', 'NED'),
 ('Denmark-4', 'DEN'),
 ('Portugal-2', 'POR'),
 ('Zefyros', 'GRE'),
 ('Slovenia-2', 'SLO'),
 ('Neptun II', 'URS'),
 ('Hannover', 'POR'),
 ('Bellatrix IX', 'GER'),
 ('Bellatrix XIII', 'GER'),
 ('Nadine', 'NED'),
 ('Persey', 'URS'),
 ('Hi-Hi', 'DEN'),
 ('Wendehals', 'GER'),
 ('Gustel X', 'GER'),
 ('Gustl XI', 'GER'),
 ('South Africa-1', 'RSA'),
 ('Kln', 'SUI'),
 ('Nokaut II', 'URS'),
 ('Almaz', 'URS'),
 ('Tulilind', 'URS'),
 ('Tornado', 'URS'),
 ('Taifun', 'URS'),
 ('Notavel', 'POR'),
 ('Galopin De La Font', 'POR'),
 ('Portugal-1', 'POR'),
 ('Royal Club Nautique de Gand', 'GRE'),
 ("Ma'Lindo", 'POR'),
 ('Marie-Tim', 'GRE'),
 ('Bohemia/Great Britain', 'BOH'),
 ('Maid of Lebanon', 'LIB'),
 ('Sunrise', 'NED'),
 ('Greece-4', 'GRE'),
 ('Hakahana', 'RSA'),
 ('Great Britain/Germany', 'GER'),
 ('Salinero', 'NED'),
 ('Univ. of Brussels', 'NED'),
 ('Satchmo', 'GER'),
 ('Mainz', 'CHI'),
 ('Digby', 'DEN')]

In [63]:
unique_unk_code=[]
for i in unique_unk:
    unique_unk_code.append(i[1])
#extract the code from the list

In [64]:
unique_unk_code= list(dict.fromkeys(unique_unk_code))
unique_unk_code
#extract only the unique codes from the list

['DEN',
 'NED',
 'IRI',
 'BUL',
 'CHA',
 'SUD',
 'GRE',
 'CHI',
 'URS',
 'NCA',
 'NGR',
 'ALG',
 'KUW',
 'UAR',
 'LIB',
 'MAS',
 'GER',
 'RSA',
 'TAN',
 'LBA',
 'PLE',
 'BRU',
 'KSA',
 'UAE',
 'YAR',
 'INA',
 'PHI',
 'EUN',
 'CGO',
 'SUI',
 'FRG',
 'GDR',
 'MON',
 'URU',
 'ISV',
 'SRI',
 'LAT',
 'NIG',
 'CRC',
 'SLO',
 'CRO',
 'POR',
 'PAR',
 'ANG',
 'BAN',
 'ESA',
 'PUR',
 'HON',
 'MRI',
 'SEY',
 'TCH',
 'MTN',
 'SKN',
 'VIN',
 'NEP',
 'MGL',
 'TOG',
 'AHO',
 'ASA',
 'SAM',
 'HAI',
 'GUI',
 'BIZ',
 'YMD',
 'BER',
 'ANZ',
 'SCG',
 'IOA',
 'OMA',
 'FIJ',
 'VAN',
 'YUG',
 'BAH',
 'GUA',
 'IVB',
 'MAD',
 'MAL',
 'CAY',
 'BAR',
 'GBS',
 'BOT',
 'ROT',
 'CAM',
 'SOL',
 'CRT',
 'GEQ',
 'SAA',
 'ANT',
 'ZIM',
 'GRN',
 'MYA',
 'MAW',
 'ZAM',
 'RHO',
 'TPE',
 'BOH',
 'TGA',
 'GAM',
 'WIF',
 'BUR',
 'NBO',
 'ARU',
 'VIE',
 'BHU',
 'UNK',
 'NFL',
 'KOS',
 'LES']

In [65]:
type(unique_unk_code)

list

In [66]:

# address dictionary with names as keys & addresses as values
alpha3= {'DEN': 'DNK', 'NED':'NLD', 'IRI':'IRN','BUL':'BGR','CHA':'TCD','SUD':'SDN','GRE':'GRC','CHI':'CHL','NCA':'NIC','NGR':'NGA','ALG':'DZA','KUW':'KWT',
            'LIB': 'LBN', 'MAS': 'MYS','GER': 'DEU', 'RSA':'ZAF','TAN':'TZA','LBA':'LBY','PLE':'PSE','BRU':'BRN','KSA':'SAU','UAE':'ARE','INA':'IDN',
            'PHI':'PHL','CGO':'COG','SUI':'CHE','MON':'MCO','URU':'URY','ISV':'VIR','SRI':'LKA','LAT':'LVA','NIG':'NER','CRC':'CRI','SLO':'SVN',
            'CRO':'HRV','POR':'PRT','PAR':'PRY','ANG':'AGO','BAN':'BGD', 'ESA':'SLV','PUR':'PRI','HON':'HND','MRI':'MUS','SEY':'SYC','MTN':'MRT',
            'SKN':'KNA', 'VIN':'VCT','NEP': 'NPL','MGL':'MNG','TOG':'TGO','ASA':'ASM', 'SAM':'WSM','HAI':'HTI', 'BIZ':'BLZ', 'BER':'BMU','OMA':'OMN',
            'FIJ':'FJI', 'VAN':'VUT','BAH':'BHS', 'GUA':'GTM','IVB':'VGB', 'MAD':'MDG', 'CAY':'CYM','BAR':'BRB', 'GBS':'GNB','BOT':'BWA','CAM': 'KHM',
            'SOL':'SLB','GEQ':'GNQ','ANT':'ATG','ZIM':'ZWE','GRN':'GRD', 'MYA':'MMR','MAW':'MWI','ZAM':'ZMB','TPE':'TWN', 'TGA': 'TON','GAM':'GMB',
            'BUR':'BFA','ARU':'ABW', 'VIE': 'VNM','BHU':'BTN', 'LES':'LSO', 'GUI':'GIN'}

In [67]:
list1=list(alpha3.keys())  #turn the dictionary keys to a list

create a new column 'alpha3code' as a new column in our df by mapping

In [68]:
df['alpha3code']=df['noc'].map(alpha3)

In [69]:
df['alpha3code'].fillna(df['noc'],inplace=True)

#if any keys are NA in the alpha3code , then we map it to the noc code

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\4289830482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['alpha3code'].fillna(df['noc'],inplace=True)

In [70]:
df.head(10)

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal,alpha3code
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,CHN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,CHN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,DNK
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DNK
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,NLD
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,NLD
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,NLD

In [71]:
df['alpha3code']

0         CHN
1         CHN
2         DNK
3         DNK
4         NLD
         ...
271111    POL
271112    POL
271113    POL
271114    POL
271115    POL
Name: alpha3code, Length: 271116, dtype: object

#kos no alpha-3 code

In [72]:
'''
def search_numeric_from_noc(b):
    numeric=[]
    for a in b:
        i= a.numeric
        print(i)
'''

'\ndef search_numeric_from_noc(b):\n    numeric=[]\n    for a in b:\n        i= a.numeric\n        print(i)\n'

In [73]:
'''
def search_data_from_noc(b):
    result=[]
    unk_result=[]
    for a in b:
        i= pycountry.countries.get(alpha_3=a[1])
        if i != None:
            result.append(i)
        else:
            unk_result.append(a)
    return result , unk_result
'''

'\ndef search_data_from_noc(b):\n    result=[]\n    unk_result=[]\n    for a in b:\n        i= pycountry.countries.get(alpha_3=a[1])\n        if i != None:\n            result.append(i)\n        else:\n            unk_result.append(a)\n    return result , unk_result\n'

In [74]:
type(df['alpha3code'])

pandas.core.series.Series

In [75]:
n=pycountry.countries.get(alpha_3='DZA')
print(n)
n.name
#testing pycountry function

Country(alpha_2='DZ', alpha_3='DZA', flag='ðŸ‡©ðŸ‡¿', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria")

'Algeria'

In [76]:
a= pycountry.countries.search_fuzzy('Singapore')
a
#testing pycountry function

[Country(alpha_2='SG', alpha_3='SGP', flag='ðŸ‡¸ðŸ‡¬', name='Singapore', numeric='702', official_name='Republic of Singapore')]

In [77]:
def search_numeric_from_alpha3(b):
    for index,row in b.iterrows():
        try:
            n=pycountry.countries.get(alpha_3=row['alpha3code'])
            row['numeric']= n.numeric
        except AttributeError:
            pass
    return b['numeric']

In [78]:
numbers=[]
for index,row in df.iterrows():
        try:
            n=pycountry.countries.get(alpha_3=row['alpha3code'])
            num= n.numeric
            numbers.append(num)
        except AttributeError:
            numbers.append('NaN')

#we use the alpha3codes we got previously to find numeric 
#numeric is the key code we use to map with the topojson

In [79]:
df['numeric']=numbers

In [80]:
df.numeric.unique()

array(['156', '208', '528', '840', '246', '578', '642', '233', '250',
       '504', '724', '818', '364', '100', '380', '148', '031', '729',
       '643', '032', '192', '112', '300', '120', '792', '152', '484',
       'NaN', '558', '348', '566', '012', '414', '096', '586', '368',
       '422', '634', '458', '276', '124', '372', '036', '710', '232',
       '834', '400', '788', '434', '056', '262', '275', '174', '398',
       '356', '682', '760', '462', '231', '784', '360', '608', '702',
       '860', '417', '762', '392', '178', '756', '076', '492', '376',
       '858', '752', '850', '144', '051', '384', '404', '204', '804',
       '826', '288', '706', '428', '562', '466', '004', '616', '188',
       '591', '268', '705', '191', '328', '554', '620', '600', '024',
       '862', '170', '050', '604', '222', '630', '800', '340', '218',
       '795', '480', '690', '442', '478', '203', '659', '780', '214',
       '670', '388', '430', '740', '524', '496', '040', '585', '440',
       '768', '516', '352', '016', '882', '646', '212', '332', '470',
       '196', '324', '084', '410', '764', '060', '694', '598', '887',
       '512', '242', '548', '498', '044', '320', '688', '092', '508',
       '140', '450', '070', '316', '136', '703', '052', '624', '626',
       '180', '266', '674', '418', '072', '116', '408', '090', '686',
       '132', '226', '068', '020', '028', '716', '308', '344', '662',
       '583', '104', '454', '894', '158', '678', '807', '776', '438',
       '499', '270', '184', '008', '748', '854', '108', '533', '520',
       '704', '064', '584', '296', '798', '728', '426'], dtype=object)

In [81]:
test= df[df['numeric']=='NaN']
#see which

In [82]:
test.team.unique()

array(['Soviet Union', 'United Arab Republic', 'North Yemen',
       'Unified Team', 'West Germany', 'East Germany', 'Czechoslovakia',
       'Netherlands Antilles', 'South Yemen', 'Australasia',
       'Serbia and Montenegro', 'Individual Olympic Athletes',
       'Yugoslavia', 'Burevestnik', 'Druzhba', 'Soviet Union-2',
       'Soviet Union-1', 'Olen', 'Malaya', 'East Germany-1',
       'Refugee Olympic Athletes', 'Yugoslavia-1', 'Crete',
       'Soviet Union-3', 'Saar', 'Czechoslovakia-3', 'West Germany-2',
       'West Germany-1', 'Rhodesia', 'East Germany-2', 'Bohemia',
       'Czechoslovakia-1', 'Czechoslovakia-2', 'Primorka', 'Konstanz',
       'Unified Team-2', 'Circus', 'West Indies Federation', 'Peri',
       'North Borneo', 'Unified Team-1', 'Uragan', 'Kon-Tiki', 'Unknown',
       'Cha-Cha III', 'East Germany-3', 'Sydney Rowing Club',
       'Newfoundland', 'Bohemia-1', 'Kosovo', 'Korshun', 'Viktoriya',
       'Unified Team-3', 'West Germany-3', 'Bohemia-3', 'Yugoslavia-2',
       'Bohemia-2', 'Neptun II', 'Persey', 'Nokaut II', 'Almaz',
       'Tulilind', 'Tornado', 'Taifun', 'Bohemia/Great Britain'],
      dtype=object)

In [83]:
test

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal,alpha3code,numeric
192,87,Rost'om Omeris dze Abashidze,M,29.0,188.0,97.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN,URS,NaN
193,88,Nunu Dzhansuhivna Abashydze (-Myslaieva),F,25.0,168.0,105.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Women's Shot Put,NaN,URS,NaN
238,116,Hosni Mohamed Abbas,M,28.0,NaN,60.0,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Weightlifting,Weightlifting Men's Featherweight,NaN,UAR,NaN
302,163,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Individual All-Around,NaN,UAR,NaN
303,163,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Team All-Around,NaN,UAR,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,URS,NaN
271079,135553,Galina Ivanovna Zybina (-Fyodorova),F,29.0,168.0,80.0,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Athletics,Athletics Women's Shot Put,NaN,URS,NaN
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,URS,NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN,TCH,NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN,TCH,NaN

In [84]:
#test.to_csv('testunknown.csv')

In [85]:
condition = (df['numeric'] =='NaN')
df = df[~condition]

In [86]:
df.numeric.unique()

array(['156', '208', '528', '840', '246', '578', '642', '233', '250',
       '504', '724', '818', '364', '100', '380', '148', '031', '729',
       '643', '032', '192', '112', '300', '120', '792', '152', '484',
       '558', '348', '566', '012', '414', '096', '586', '368', '422',
       '634', '458', '276', '124', '372', '036', '710', '232', '834',
       '400', '788', '434', '056', '262', '275', '174', '398', '356',
       '682', '760', '462', '231', '784', '360', '608', '702', '860',
       '417', '762', '392', '178', '756', '076', '492', '376', '858',
       '752', '850', '144', '051', '384', '404', '204', '804', '826',
       '288', '706', '428', '562', '466', '004', '616', '188', '591',
       '268', '705', '191', '328', '554', '620', '600', '024', '862',
       '170', '050', '604', '222', '630', '800', '340', '218', '795',
       '480', '690', '442', '478', '203', '659', '780', '214', '670',
       '388', '430', '740', '524', '496', '040', '585', '440', '768',
       '516', '352', '016', '882', '646', '212', '332', '470', '196',
       '324', '084', '410', '764', '060', '694', '598', '887', '512',
       '242', '548', '498', '044', '320', '688', '092', '508', '140',
       '450', '070', '316', '136', '703', '052', '624', '626', '180',
       '266', '674', '418', '072', '116', '408', '090', '686', '132',
       '226', '068', '020', '028', '716', '308', '344', '662', '583',
       '104', '454', '894', '158', '678', '807', '776', '438', '499',
       '270', '184', '008', '748', '854', '108', '533', '520', '704',
       '064', '584', '296', '798', '728', '426'], dtype=object)

In [87]:
df['numeric']= df['numeric'].astype('object')

In [88]:
df.dtypes

id              int64
name           object
sex            object
age           float64
height        float64
weight        float64
team           object
noc            object
games          object
year            int64
season         object
city           object
sport          object
event          object
medal          object
alpha3code     object
numeric        object
dtype: object

In [89]:
df['medal'].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [90]:
df['medal'].isna().sum()

216129

In [91]:
df['medal'].fillna("NA", inplace = True)

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\458899145.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['medal'].fillna("NA", inplace = True)

In [92]:
df['medal_count'] = df['medal'].apply(lambda x: 1 if x in ['Gold', 'Silver', 'Bronze'] else 0)

In [93]:
df.to_csv('updated_olympics.csv',index=False)

In [94]:
df1=pd.read_csv('updated_olympics.csv',dtype={'numeric': str})

In [95]:
# Finding the mean of the column having NaN 
mean_value = df1['age'].mean() 
  
# Replace NaNs in column S2 with the 
# mean of values in the same column 
df1['age'].fillna(value=mean_value, inplace=True)

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\440577685.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['age'].fillna(value=mean_value, inplace=True)

In [96]:
# Finding the mean of the column having NaN 
mean_value2 = df1['height'].mean() 
  
# Replace NaNs in column S2 with the mean of values in the same column 
#essentially this was not needed because its not the aim
df1['height'].fillna(value=mean_value2, inplace=True)

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\534126207.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['height'].fillna(value=mean_value2, inplace=True)

In [97]:
# Finding the mean of the column having NaN 
mean_value3 = df1['weight'].mean() 
  
# Replace NaNs in column S2 with the 
# mean of values in the same column 
# essentially this was not needed because its not the aim
df1['weight'].fillna(value=mean_value3, inplace=True)

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\3323422159.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['weight'].fillna(value=mean_value3, inplace=True)

In [98]:
df1.isna().sum()

id                  0
name                0
sex                 0
age                 0
height              0
weight              0
team                0
noc                 0
games               0
year                0
season              0
city                0
sport               0
event               0
medal          216129
alpha3code          0
numeric             0
medal_count         0
dtype: int64

In [99]:
df1['medal'].fillna("NA", inplace = True)

C:\Users\Justh\AppData\Local\Temp\ipykernel_17808\1471342809.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['medal'].fillna("NA", inplace = True)

In [100]:
df1.to_csv('updated_olympics.csv')

In [101]:
df1=pd.read_csv('updated_olympics.csv',dtype={'numeric': str})

In [102]:
df1.isna().sum()

Unnamed: 0          0
id                  0
name                0
sex                 0
age                 0
height              0
weight              0
team                0
noc                 0
games               0
year                0
season              0
city                0
sport               0
event               0
medal          216129
alpha3code          0
numeric             0
medal_count         0
dtype: int64